.about {
  .about-bottom {
    margin-top: 55px;
    padding: 65px 0 250px 0;
    @include linear-gradient(180deg, $transparent 0%, $polar-green 50%);
    z-index: -1;
    border-top: 1px solid #E8F3F0;
  }

  footer {
    margin-top: -150px;

    a:before, .Link--faux:before {
      background: darken($polar-green, 5%);
    }

    nav {
      border-color: #D7F1EA;
    }

    .Cover--footer {
      background: $polar-green;
    }
  }

  .bottom {
    width: 65%;
    max-width: 500px;

    @media (max-width: $medium) {
      width: 100%;
      max-width: inherit;
      margin: 0;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-distribute {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headshot {
  background: image-url("jesse.jpg") no-repeat;
  padding-top: 20px;
  min-width: 220px;
  width: 30%;
  max-width: 350px;
  margin-right: 6%;
  background-size: contain;
  min-height: 340px;
  background-position: center top;

  @media (max-width: $medium) {
    width: 100%;
    max-width: inherit;
    margin-right: 0;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 30px;
  }
}

.aboutJesse {
  flex: 1;
  max-width: 600px;
  line-height: 1.9;
  font-size: 19px;

  @media (max-width: $medium) {
    width: 100%;
    flex: inherit;
  }
}