.about {
  .top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .bottom {
    margin-top: 55px;
    padding: 65px 0 250px 0;
    @include linear-gradient(180deg, $transparent 0%, $polar-green 50%);
    z-index: -1;
    border-top: 1px solid #F5F5F5;

    @media (max-width: $medium) {
      margin-top: 25px;
      padding: 55px 0 250px 0;
    }

    @media (max-width: $small) {
      padding: 35px 0 250px 0;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      width: 100%;

      @media (max-width: $small) {
        margin-bottom: 10px;
      }
    }

    .Wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  footer {
    margin-top: -150px;

    a:before, .Link--faux:before {
      background: darken($polar-green, 5%);
    }

    nav {
      border-color: #D7F1EA;
    }

    .Cover--footer {
      background: $polar-green;
    }
  }
}

.headshot {
  background: image-url("jesse.jpg") no-repeat;
  padding-top: 20px;
  min-width: 220px;
  width: 30%;
  max-width: 350px;
  margin-right: 6%;
  background-size: contain;
  min-height: 340px;
  background-position: center top;

  @media (max-width: $medium) {
    width: 100%;
    max-width: inherit;
    margin-right: 0;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 30px;
  }
}

.aboutJesse {
  flex: 1;
  max-width: 600px;
  line-height: 1.9;
  font-size: 19px;

  @media (max-width: $medium) {
    width: 100%;
    max-width: inherit;
    flex: inherit;
    font-size: 18px;
  }

  @media (max-width: $small) {
     font-size: 16px;
  }
}

.timeline, .facts {

  h2 {
    text-align: center;
    margin: 0;
  }
  
  @media (max-width: $medium) {
    width: 100%;
    max-width: inherit;
    margin: 0;
  }

  ul {
    line-height: 1.1;
    padding: 11px 0 0 0;
  }

  li {
    margin-top: 2px;
    padding: 10px 0;
  }

  h4 {
    font-family: 'GT Pressura';
    font-weight: bold;
    margin: 0;
  }

  span {
    font-size: 14px;
    margin-top: 1px;
  }
}

.timeline {
  margin: 30px 0 100px 0;
  width: 100%;
  max-width: 850px;

  @media (max-width: $large) {
    padding-left: 0;
  }

  @media (max-width: $medium) {
    margin-top: 0;
    margin-bottom: 70px;
    display: flex;
    width: inherit;
    align-items: center;
  }

  @media (max-width: $small) {
    margin-top: 15px;
  }

  h4 {
    font-size: 17px;

    @media (max-width: 900px) {
      font-size: 16px;
    }

    @media (max-width: $medium) {
      font-size: 17px;
    }
  }

  h2.ribbon:before {
    @media (max-width: $medium) {
      background: darken($polar-green, 5%);
    }
  }

  ul{
    border-top: 2px solid #D7F5ED;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    clear: left;

    @media (max-width: $medium) {
      flex-direction: column;
      border-left: 3px solid #D7F5ED;
      border-top: 0;
    }

    li:not(.active) {
      opacity: .4;
    }

    &.hovered {
      li:not(.hover) {
        opacity: .4;
      }

      li.hover {
        opacity: 1;
      }
    }

    
  }

  li {
    position: relative;
    margin-left: 30px;
    color: $neon-purple;
    clear: left;
    display: inline-table;
    border: 1px solid $transparent;
    transition: opacity .5s, padding .3s ease, border .3s ease;
    will-change: opacity, padding, border;

    @media (max-width: 900px) {
      margin-left: 20px;
    
      &:first-child {
        margin-left: 5px;
      }
    }

    @media (max-width: $medium) {
      margin-left: 30px;
    
      &:first-child {
        margin-left: 30px;
      }
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      left: 50%;
      margin-left: -6px;
      opacity: 0;
    }

    &:before {
      border-bottom: 6px solid $neon-purple;
      top: -7px;
      transition: none;
      will-change: opacity;
    }

    &:after {
      border-bottom: 6px solid #F5FEFC;
      top: -6px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: lighten($neon-purple, 20%);
    }

    &.active, &.hover {
      padding-right: 21px;
      padding-left: 17px;
      border: 1px solid $neon-purple;
      color: $neon-purple;
      background: rgba(255, 255, 255, 0.4);

      &:before, &:after {
        opacity: 1;

        @media (max-width: $medium) {
          top: 50%;
          left: inherit;
          margin-left: inherit;
          margin-top: -4px;
          border-left: 0;
          border-right: 0;
        } 
      }

      &:before {
        transition: opacity .3s ease;
        @media (max-width: $medium) {
          left: -7px;
          bottom: inherit;
          border-right: 6px solid $neon-purple;
          left: -37px;
          bottom: inherit;
          border-top: 6px solid $transparent;
          border-bottom: 6px solid $transparent;
        }
      }

      &:after {
        @media (max-width: $medium) {
          left: -36px;
          bottom: inherit;
          border-top: 0;
          border-right: 6px solid $polar-green;
          border-top: 6px solid $transparent;
          border-bottom: 6px solid $transparent;
        }
      }

      .Register {
        @media (max-width: $medium) {
          bottom: inherit;
          //top: 17px;
        }
      }
    }
  }

  .Register {
    position: absolute;
    width: inherit;
    padding: 0;
    overflow: visible;
    left: 50%;
    margin-left: -1px;
    top: -28px;

    @media (max-width: $medium) {
      left: -32px;
      top: 18px;
      bottom: inherit;
    }

    .Registration .Circle {
      background: lighten($polar-green, 2%);
    }
  }
}

.facts {
  flex: 1;
  max-width: 630px;
  left: 35px;
  position: relative;

  @media (max-width: $medium) {
    flex: inherit;
    width: 100%;
    left: inherit;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: 50%;
    
    &:nth-child(2n+1) {
      padding-right: 20px;
      @media (max-width: $small) {
        padding-right: 0;
      }
    }
    &:nth-child(2n+2) {
      padding-left: 20px;

      @media (max-width: $small) {
        padding-left: 0;
      }
    }

    @media (max-width: $medium) {
      max-width: inherit;
    }

    @media (max-width: $small) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  h4 {
    color: black; 

    @media (max-width: $medium) {
     font-size: 16px;
    }
  }
  span {
    margin-top: 5px;
    display: inline-block;
    line-height: 1.3;
    max-width: 240px;

    @media (max-width: $medium) {
      max-width: inherit;
    }
  }
}

.Maps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 290px;
  background: #fff;
  opacity: .25;

  &:after {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    @include linear-gradient(180deg, $transparent 0%, #F0FCF9 90%);
  }

  @media (max-width: $medium) {
    height: 500px;  
  }
}