* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.7;
  font-family: 'Circular';
}

ul {
  list-style: none;
}

.Header-nav {
  border-bottom: 1px solid $border-polar-purple;
  height: 100px;
  line-height: 92px; 
  padding: 0 50px;
  margin-bottom: 110px;
  position: relative;

  nav {
    float: right;

    li {
      display: inline-block;
      padding: 0 10px;

      a {
        font-size: 16px;
        position: relative;

        &:not(.active) {
          &:before {
            display: none;
          }
        }

        &:hover {
          &:before {
            display: block;
          }
        }
      }
    }
  }
}

.Header-intro {
  margin-bottom: 100px;
  h1 {
    text-align: center;
    color: $neon-blue;
    max-width: 760px;
    line-height: 1.5;
    margin: 0 auto;
  }
}

.Wrapper {
  max-width: 1070px;
  margin: 0 auto;
}

section {
  position: relative;
}

.Offset {
  position: absolute;
  font-size: 17px;
  top: 208px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: lighten($neon-blue, 25%);
  font-family: 'GT Pressura';
}

.Offset--left {
  left: 50%;
  margin-left: $sideways-offset;
  transform: rotate(-90deg);
  transform-origin: left;
}

.Offset--right {
  right: 50%;
  margin-right: $sideways-offset;
  transform: rotate(90deg);
  transform-origin: right;
}