* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.7;
  font-family: 'Circular';
}

ul {
  list-style: none;
}

.Fade {
  opacity: 0;
  visibility: hidden;
}

.Header-nav {
  border-bottom: 1px solid $border-polar-purple;
  height: 100px;
  line-height: 92px; 
  padding: 0 50px;
  margin-bottom: 110px;
  position: relative;

  @media (max-width: $large) {
    margin-bottom: 100px;
  }

  @media (max-width: $small) {
    margin-bottom: 70px;
    line-height: 75px;
  }

  .Cover {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100%;
    background: white;
    height: 9px;
    z-index: 2;
    transform: translateX(-50%);
  }

  nav {
    float: right;
    @media (max-width: $small) {
      margin: 0 auto;
      float: none;
      display: flex;
      z-index: 10;
      position: relative;
    }

    ul {
      @media (max-width: $small) {
        margin: 0 auto;
      }
    }

    li {
      display: inline-block;
      padding: 0 10px;
      opacity: 0;
      visibility: hidden;

      a {
        font-size: 16px;
        position: relative;

        &:not(.active) {
          &:before {
            display: none;
          }
        }

        &:hover {
          &:before {
            display: block;
          }
        }
      }
    }
  }
}

.work {
  .Header-nav {
    li:first-child {
      a:before {
        display: block;
      }
    }
  }
}

.labs {
  .Header-nav {
    li:last-child {
      a:before {
        display: block;
      }
    }
  }
}

.Header-intro.Wrapper {
  margin-bottom: 100px;

  @media (max-width: $large) {
    margin-bottom: 80px;
  }

  @media (max-width: $small) {
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    color: $neon-purple;
    line-height: 1.5;
    margin: 0 auto;

    @media (max-width: $medium) {
      max-width: 560px;
      margin: 0 auto;

      br {
        display: none;
      }
    }
    @media (max-width: $small) {
      padding: 0 20px;
    }
  }
}

.Wrapper {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: $small) {
    padding: 0 23px;
  }
}

section {
  position: relative;
}

.Offset {
  position: absolute;
  font-size: 17px;
  top: 230px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: lighten($neon-purple, 25%);
  font-family: 'GT Pressura';

  @media (max-width: 1230px) {
    display: none;
  }
}

.Offset--left {
  left: 50%;
  margin-left: $sideways-offset;
  transform: rotate(-90deg);
  transform-origin: left;
}

.Offset--right {
  right: 50%;
  margin-right: $sideways-offset;
  transform: rotate(90deg);
  transform-origin: right;
}