
.Logo {
  width: 104px;
  height: 108px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: $box-padding;
  top: 49px;
  z-index: 10;

  span{
    width: $square-dimension;
    height: $square-dimension;
    position: absolute;
    top: $box-padding;
    left: $box-padding;
    display: block;
    border: 1px solid $neon-purple;
    opacity: 0;
    visibility: hidden;

    &.tm {
      left: $three;
    }
    &.tr {
      left: $six;
    }
    &.rm {
      left: $six;
      top: $three;
    }
    &.rb {
      left: $six;
      top: $six;
    }
    &.mb {
      left: $three;
      top: $six;
    }
    &.lb {
      top: $six;
    }
    &.ml {
      top: $three;
    }
  }

  .Registration {
    left: $three;
    top: $three;
    margin: auto;
    position: absolute;
  } 
}

.Header-nav {
  .Registration {
    opacity: 0;
    visibility: hidden;
  }
}

.Register {
  padding: 15px;
  margin: 13px 0;
  width: 100%;
  overflow: hidden;
}

.Registration {
  position: relative;
  width: $circle-dimension;
  height: $circle-dimension;
  overflow: visible;
  transform-origin: 50% 50%;
  margin: -4px 0 0 -4px;
  left: 50%;

  .Circle {
    border-radius: 50%;
    width: $circle-dimension;
    height: $circle-dimension;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid lighten($grey, 5%);
    background: white;
    z-index: 1;

    &:before {
      width: 1px;
      height: 1px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      margin: -.5px 0 0 -.5px;
      position: absolute;
      background: $grey;
      content: '';
    }
  }

  .Cross {
    position: absolute;
    z-index: 0;
    
    &.Cross--left {
      height: 11px;
      border-right: 1px solid $grey;
      left: 3px;
      top: -2px;
    }

    &.Cross--right {
      width: 11px;
      border-top: 1px solid $grey;
      left: -2px;
      top: 3px;
    }
  }

  &.Registration--blue {
    .Circle {
      border-color: lighten($neon-purple, 1%);

      &:before {
        background: $neon-purple;
      }
    }

    .Cross {
      &.Cross--left {
        border-color: $neon-purple;
      }

      &.Cross--right {
        border-color: $neon-purple;
      }
    }
  }

  &.Registration--green {
    .Circle {
      border-color: lighten($neon-green, 1%);

      &:before {
        background: $neon-green;
      }
    }

    .Cross {
      &.Cross--left {
        border-color: $neon-green;
      }

      &.Cross--right {
        border-color: $neon-green;
      }
    }
  }

  &.Registration--darkGrey {
    .Circle {
      border-color: lighten($dark-grey, 28%);

      &:before {
        background: $dark-grey;
      }
    }

    .Cross {
      &.Cross--left {
        border-color: $dark-grey;
      }

      &.Cross--right {
        border-color: $dark-grey;
      }
    }
  }
}