.work {
  .bg {
    @include linear-gradient(180deg, $transparent 160px, #F5F4FF 40%, $transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1400px;
  }

  &.work_rebrand, &.work_marketing {
    .bg {
      max-height: 900px;
    }

    .Header-intro.Wrapper ul {
      display: none;
    }
  }

  .Header-intro.Wrapper {
    margin-bottom: 50px;

    @media (max-width: $small) {
      margin-bottom: 35px;
    }
  }

  .Offset {
    top: 505px;
    width: 50%;
    h4 {
      color: lighten($neon-purple, 20%);
    }

    @media (max-width: 1125px) {
      top: -10px;
      position: inherit;
      width: inherit;
      float: left;
      width: 50%;
    }

    @media (max-width: $small) {
      display: none;
    }
  }

  .Offset--left {
    margin-left: $sideways-offset-work;

    @media (max-width: 1125px) {
      margin-left: inherit;
      transform: none;
      left: inherit;

      h4 {
        text-align: left;
      }
    }
  }

  .Offset--right {
    margin-right: $sideways-offset-work;

    @media (max-width: 1125px) {
      margin-right: inherit;
      right: inherit;
      transform: none;
      h4 {
        text-align: right;
      }
    }
  }
}

.project.Wrapper {
  max-width: 900px;
  background: white;
  padding: 60px 100px;
  font-size: 19px;
  line-height: 1.9;
  z-index: -1;
  //overflow: hidden;

  @media (max-width: $medium) {
    padding: 70px 65px;
    font-size: 18px;
  }

  @media (max-width: $small) {
    padding: 25px $small-padding;
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
    margin-top: 45px;
  }

  h2 {
    @extend .ribbon;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 27px;
    margin-bottom: 25px;

    @media (max-width: $small) {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }

  h4.ribbon {
    margin-bottom: 13px;
    font-size: 20px;
    margin-top: 35px;
    position: relative;
    display: table;
    padding-left: 20px;
    font-family: 'GT Pressura';
    font-weight: bold;

    &:before {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 101%;
      z-index: -1;
      height: .6em;
      background: lighten($salmon, 3%);
    }
  }

  ul, ol {
    @extend p;
    list-style-position: inside;

    li {
      list-style-position: inside;
      margin-bottom: 13px;
    }
  }
  
  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    counter-reset: my-counter;

    li {
      list-style-type: none;
      padding-left: 30px;
      position: relative;

      &:before {
        content: counter(my-counter);
        counter-increment: my-counter;
        position: absolute;
        top: 1px;
        left: 0;
        color: $neon-purple;
        font-family: 'GT Pressura';
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  article {
    @media (max-width: 1125px) {
      padding-top: 50px;
    }

    @media (max-width: $small) {
      padding-top: 0;
    }
  }

  .Protected {
    h2 {
      text-align: center;
      display: inherit;
    }

    p {
      text-align:center;
    }
  }

  code {
    border: 1px solid #ECECEC;
    color: lighten($neon-purple, 10%);
    padding: 2px 4px;
    margin-right: 1px;
    font-family: 'GT Pressura';
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
  }

  .Note {
    margin: 45px 0 35px 0;
    padding: 25px;
    font-size: 16px;
    @extend p;
    @include linear-gradient(35deg, $polar-purple 0%, $transparent 65%);
    border: 1px solid $featured-purple;
    color: $light-purple;
    background-repeat: no-repeat;

    &.noTop {
      margin-top: 0;
    }

    p {
      margin-bottom: 15px;
    
      &:last-child {
        margin-bottom: 0;
      }
    }

    a:before {
      background: lighten($light-purple, 5%)
    }

    h4 {
      font-size: 18px;
      color: $neon-purple;
      margin-bottom: 5px;
      margin-top: 10px;
      display: block;
      font-family: inherit;
      font-weight: inherit;
      padding-left: 0;

      &:first-child {
        margin-top: -2px;
      }

      &:before {
        display: none;
      }
    }
  }

  .swatches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 20px;
    clear: left;

    li {
      max-width: 17%;
      flex-grow: 1;
      list-style-type: none;
      
      span {
        display: block;
        border-radius: 50%;
        @include aspect-ratio(10, 10);
      }
    }

    .gradientA {
      span {
        @include linear-gradient(-90deg, #00d2ff 0%, #3a7bd5 100%);
      }
    }
    .gradientB {
      span {
        @include linear-gradient(-90deg, #27C4B9 0%, #27C495 100%);
      }
    }
    .gradientC {
      span {
        @include linear-gradient(-90deg, #DE6262 0%, #F7AC7E 100%);
      }
    }
    .gradientD {
      span {
        @include linear-gradient(-90deg, #FDF26C 0%, #FDBC46 100%);
      }
    }
    .gradientE {
      span {
        @include linear-gradient(-90deg, #97437E 0%, #DC245B 100%);
      }
    }
  }
}

.Tweets {
  @extend p;
  -webkit-column-count: 2; 
  -moz-column-count: 2; 
  column-count: 2;
  -webkit-column-gap: 20px; 
  -moz-column-gap: 20px; 
  column-gap: 20px;

  @media (max-width: $medium) {
    -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
  }

  iframe {
    margin: 0 0 20px 0!important;
    width: 100%!important;
    max-width: 340px!important;
    break-after: column;

    @media (max-width: $medium) {
      max-width: 100%!important;
    }
  }
}

.Direction {
  width: 100%;
  float: left;
  margin: 50px 0 -1px 0;
  border-top: 1px solid $border-polar-purple;
  border-bottom: 1px solid $border-polar-purple;
  @media (max-width: $small) {
    margin-top: 0;
  }

  .Direction--previous, .Direction--next{
    width: 50%;
    float: left;
    
    @media (max-width: $small) {
      width: 100%;
    }
    
    a {
      padding: 0 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 285px;

      @media (max-width: $small) {
        height: 160px;
      }

      &:before {
        display: none;
      }

      &:hover {
        cursor: pointer;

        p {
          &:after {
            left: -.5em;
            width: calc(100% + .9em);
            height: .9em;
            bottom: -6px;
          }
        }
      }
    }

    div {
      text-align: left;
      display: inline-block;
      @media (max-width: $small) {
        text-align: center;
      }
    }

    span {
      display: block;
      font-family: 'GT Pressura';
      color: $light-purple;
      font-size: 16px;
      font-weight: bold;

      @media (max-width: $small) {
        font-size: 15px;
      }
    }

    p {
      font-size: 23px;
      margin-top: 3px;
      line-height: 1.3;
      position: relative;
      display: inline-block;

      @media (max-width: $medium) {
        font-size: 20px;
      }

      @media (max-width: $small) {
        font-size: 17px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: -.2em;
        width: calc(100% + .6em);
        z-index: -1;
        height: .7em;
        background: $polar-green-light;
        transition: all .3s ease;
      }
    }
  }

  .Direction--previous {
    position: relative;
    width: calc(50% - 1px);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 254px;
      background: $border-polar-purple;

      @media (max-width: $small) {
        display: none;
      }
    }

    @media (max-width: $small) {
      width: 100%;
    }
  }

  .Direction--next {
    @media (max-width: $small) {
      border-top: 1px solid $border-polar-purple;
    }

    a {
      p:after {
        background: $light-salmon;
      }
    }

    div {
      text-align: right;

      @media (max-width: $small) {
        text-align: center;
      }
    }
  }
}

.work_brandassets {
  .bg {
    display: none;
  }
}

.photoHeader {
  text-align: center;
  color: $neon-purple;
  font-size: 30px;
  margin: 0 0 50px 0;
  width: 100%; 
}

.Grid {
  margin-top: 50px;

  .photoSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex:1;
    padding: 0;

    &.hasHeader {
      padding: 60px 0 100px 0;
      margin-top: 80px;
      border-top: 1px solid $border-polar-purple;

      &:first-child {
        margin-top: 0;
        padding-bottom: 0;
      }
    }
    
    &:first-child {
      border: 0;
      padding-top: 0;

      h3 {
        margin-top: 0;
      }
    }

    a.enlarge {
      max-width: 320px;
      min-width: 200px;
      margin: 10px;
      align-self: center;
      flex: 1 0 25%;

      @media (max-width: $large) {
        margin: 8px;
      }

      @media (max-width: $small) {
        max-width: 100%;
        margin: 0;
        flex: 1 0 100%;
        padding: 5px 9px;
      }

      img {
        width: inherit;
        display: flex;
        margin: 0;
      }
    }
  }
  
}