@font-face {
    font-family: 'GT Pressura';
    src: url($font-path + 'GT-Pressura/GT-Pressura-Mono-Light.eot');
    src: url($font-path + 'GT-Pressura/GT-Pressura-Mono-Light.eot?#iefix') format('embedded-opentype'),
       url($font-path + 'GT-Pressura/GT-Pressura-Mono-Light.woff') format('woff'),
       url($font-path + 'GT-Pressura/GT-Pressura-Mono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Pressura';
    src: url($font-path + 'GT-Pressura/GT-Pressura-Mono-Regular.eot');
    src: url($font-path + 'GT-Pressura/GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'),
       url($font-path + 'GT-Pressura/GT-Pressura-Mono-Regular.woff') format('woff'),
       url($font-path + 'GT-Pressura/GT-Pressura-Mono-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url($font-path + 'Circular/CircularStd-Book.eot');
  src: local('☺'), url($font-path + 'Circular/CircularStd-Book.woff') format('woff'), url($font-path + 'Circular/CircularStd-Book.ttf') format('truetype'), url($font-path + 'Circular/CircularStd-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Sailec_Light';
//   src: url($font-path + 'Sailec/Sailec-Light.eot');
//   src: local('☺'), url($font-path + 'Sailec/Sailec-Light.woff') format('woff'), url($font-path + 'Sailec/Sailec-Light.ttf') format('truetype'), url($font-path + 'Sailec/Sailec-Light.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Sailec_Medium';
//   src: url($font-path + 'Sailec/Sailec Medium.eot');
//   src: local('☺'), url($font-path + 'Sailec/Sailec-Medium.woff') format('woff'), url($font-path + '/Sailec/Sailec-Medium.ttf') format('truetype'), url($font-path + 'Sailec/Sailec-Medium.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Sailec';
//   src: url($font-path + 'Sailec/Sailec.eot');
//   src: local('☺'), url($font-path + 'Sailec/Sailec.woff') format('woff'), url($font-path + 'Sailec/Sailec.ttf') format('truetype'), url($font-path + 'Sailec/Sailec.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Sailec_Bold';
//   src: url($font-path + 'Sailec/Sailec Bold.eot');
//   src: local('☺'), url($font-path + 'Sailec/Sailec-Bold.woff') format('woff'), url($font-path + 'Sailec/Sailec-Bold.ttf') format('truetype'), url($font-path + '/Sailec/Sailec-Bold.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// #FFE5E2 is another great selection state - salmon color
::-moz-selection {
  background: $polar-green-light;
}

::selection {
  background: $polar-green-light;
}

body {
  line-height: 1.7;
  font-family: 'Circular';
  font-size: 18px;
  color: #2F2F2F;
  color: #5F5F5F;
}


ul.bullet {
  padding-left: 20px;
  list-style-position: outside;
  list-style: disc;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: 'Circular';
}

h1 {
  font-size: 31px;
  @media (max-width: $large) {
    font-size: 29px;
  }
  @media (max-width: $medium) {
    font-size: 24px;
  }
  @media (max-width: $small) {
    font-size: 21px;
  }
}

h2.ribbon {
  margin-top: 35px;
  margin-bottom: 14px;
  position: relative;
  display: table;
  padding-left: 20px;
  font-size: 24px;
  font-family: 'GT Pressura';
  font-weight: bold;

  @media (max-width: $small) {
    font-size: 20px;
  }

  span {
    position: relative;
    top: 2px;
    left: -1px;
  }

  &.red {
    &:before {
      background: $salmon;
    }
  }

  &.purple {
    &:before {
      background: darken($polar-purple, 1%);
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 101%;
    z-index: -1;
    height: .6em;
    background: $polar-green-light;
    transition: all .3s ease;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

p {
  margin-bottom: 30px;
  clear: left;

  @media (max-width: $small) {
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 21px;
  margin-bottom: 10px;

  @media (max-width: $small) {
    font-size: 18px;
  }
}

a, .Link--faux {
  color: $neon-purple;
  text-decoration: none;
  position: relative;
  transition: all .3s ease;

  &.no-link {
    color: black;

    &:before {
      display: none;
    }
  }

  &.red {
    &:before {
      background: $light-salmon;
    }
  }

  &:focus {
    outline: 0;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: -.2em;
    width: calc(100% + .6em);
    z-index: -1;
    height: .7em;
    background: $polar-green-light;
    transition: all .3s ease;
  }

  &:hover {
    &:before {
      left: -.5em;
      width: calc(100% + .9em);
      height: .9em;
      bottom: -6px;
    }
  }

  &.Link--box {
    &:before {
      display: none;
    }
  }
}

cite {
  font-size: 19px;
  color: $neon-purple;
  display: block;
  margin: 10px 0 0 0;
}

blockquote:not(.twitter-tweet) {
  font-size: 24px;
  font-family: 'GT Pressura';
  font-weight: bold;
  margin: 55px 0;
  position: relative;
  font-style: italic;

  @media (max-width: $small) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: '"';
    left: -40px;
    top: -10px;    
    font-size: 40px;
    color: $neon-purple;
  }
}

.Note {
  margin: 45px 0 35px 0;
  padding: 25px;
  font-size: 16px;
  @extend p;
  @include linear-gradient(35deg, $polar-purple 0%, $transparent 65%);
  border: 1px solid $featured-purple;
  color: $light-purple;
  background-repeat: no-repeat;

  &.noTop {
    margin-top: 0;
  }

  p {
    margin-bottom: 15px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }

  a:before {
    background: lighten($light-purple, 5%)
  }

  h4 {
    font-size: 17px;
    color: $neon-purple;
    margin-bottom: 5px;
    margin-top: 10px;

    &:first-child {
      margin-top: -2px;
    }
  }
}