//path vars
$font-path: '../fonts/';

// logo vars
$neon-purple: #5934f6;
$light-purple: #B8ADFF;
$featured-purple: #C4BBFF;
$neon-green: #2AD4AC;
$light-green: #9CDECF;
$featured-green: #AAE4D7;
$polar-green: #E8FBF6;
$polar-green-light: #E4FBF3;
$transparent: rgba(255,255,255,0);
$polar-purple: #F9F4FF;
$polar-purple-light: #F7F2FF;
$border-polar-purple: #EBE9F4;
$grey: #c3c3c3;
$border-grey: #EBEBEC;
$navy: #1A2FA9;
$dark-grey: #313131;

// logo vars
$box-padding: 30px;
$square-dimension: 6px;
$circle-dimension: 7px;
$three: calc(#{$box-padding} + (#{$square-dimension} * 3));
$six: calc(#{$box-padding} + (#{$square-dimension} * 6));

//layout vars
$sideways-offset-index: -570px;
$sideways-offset-work: -510px;

// breakpoints
$large-up: 1051px;
$large: 1050px;
$medium: 750px;
$small: 500px;

$large-padding: 30px;
$small-padding: 20px;