//path vars
$font-path: '../fonts/';

// logo vars
$neon-blue: #884BF6;
$neon-green: #3DDAB5;
$polar-green: #E8FBF6;
$polar-green-trans: rgba(184, 248, 236, 0.25);
$polar-purple: #F9F4FF;
$polar-purple-light: #F3F0FA;
$border-polar-purple: #EBE9F4;
$grey: #c3c3c3;
$border-grey: #EFEFEF;
$navy: #1A2FA9;
$dark-grey: #313131;

// logo vars
$box-padding: 30px;
$square-dimension: 6px;
$circle-dimension: 7px;
$three: calc(#{$box-padding} + ( #{$square-dimension} * 3));
$six: calc(#{$box-padding} + ( #{$square-dimension} * 6));

//layout vars
$sideways-offset: -570px;