.ProjectsWrap, .ProjectsWrap--featured {
  font-family: 'GT Pressura';
  font-size: 16.5px;
  display: flex;

  & > li {
    flex: 1;
    margin: 15px;
  }

  .Register {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
  }

  p, ul, a, h3, .Register {
    transition: all .3s ease-out;

    &:before {
      transition: all .3s ease-out;
    }
  }

  .Link--box {
    padding: 40px;
    display: block;

    &:hover {
      background-color: #FAF9FC;
      border-color: #E6E5E9;

      .Register {
        opacity: 1;
      }

      h3 {
        color: #898989;
      }

      p {
        opacity: .2;
        color: #8F7CB2;
      }

      ul {
        opacity: .15;
        color: #8F7CB2;

        a, .Link--faux {
          color: #8F7CB2;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  .meta {
    display: flex;
    font-weight: bold;

    .date {
      flex: 1;
    }

    .view {
      text-align: right;
    }
  }
}

.ProjectsWrap {
  color: $navy;

  .Link--box {
    border: 1px solid $border-grey;
  }

  p {
    opacity: .8;
    min-height: 150px;
  }

  .meta {
    a {
      color: $navy;

      &:before {
        background: darken($polar-purple, 1%);
      }
    }
  }
}

.ProjectsWrap--featured {
  color: $neon-blue;

  & > li {
    background: $polar-purple;
    padding: 40px;
  }

  .Project--blue {
    background: $polar-purple;
  }

  .Project--green {
    background: $polar-green;
    color: $neon-green;

    a {
      color: $neon-green;
    }
  }

  .meta {
    a {
      &:before {
        background: white;
      }
    }

    .view {
      flex: 1;
    }
  }

  p {
    opacity: .9;
    min-height: 120px;
  }
}