.ProjectsWrap, .ProjectsWrap--featured {
  font-family: 'GT Pressura';
  font-size: 16.5px;
  display: flex;

  & > li {
    flex: 1;
    margin: 15px;
  }

  .Register {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
  }

  p, ul, a, h3, .Register {
    transition: all .3s ease-out;

    &:before {
      transition: all .3s ease-out;
    }
  }

  .Link--box {
    padding: 40px;
    display: block;
    transition: none;
    transition: all 1.2s ease-in-out;
    font-weight: bold;

    &:hover {
      .Link--faux {
        &:before {
          left: -25%;
          width: 130%;
          height: 1em;
          bottom: -4px;
        }
      }
    }
  }

  .Link--faux {
    &:before {
      transition: all .3s ease-out;
    }
  }

  .meta {
    display: flex;
    font-weight: bold;

    .date {
      flex: 1;
      transition: all .3s ease-out;
    }

    .view {
      text-align: right;
      transition: all .3s ease-out;
    }
  }
}

.ProjectsWrap {
  color: $navy;

  .Link--box {
    border: 1px solid $border-grey;
    color: $navy;
    background-position: -300px 0;
    transition: all .8s ease-out;

    a, .Link--faux {
      color: $navy;
      transition: all .3s ease;

      &:before {
        background:  darken($polar-purple, 1%);
      }
    }

    &:hover {
      border-color: #EBE8F0;
      background: linear-gradient(to bottom, $polar-purple 50%, rgba(255,255,255,0) 100%);
      @include linear-gradient(90deg, $polar-purple 0%, $transparent 100%);
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;

      .Register {
        opacity: 1;
      }

      h3 {
        color: $neon-purple;
      }

      p {
        opacity: .4;
        color: #8F7CB2;
      }

      .date {
        opacity: .15;
      }

      ul {
        color: #8F7CB2;

        a, .Link--faux {
          color: $neon-purple;
        }
      }
    }
  }

  p {
    opacity: .8;
    min-height: 150px;
  }
}

.ProjectsWrap--featured {
  .Link--box {
    &:hover {
      p {
        opacity: .5;
      }
    }
  }

  p {
    min-height: 130px;
  }

  .meta {
    a {
      &:before {
        background: white;
      }
    }

    .view {
      flex: 1;
    }
  }

  .Project--blue {
    .Link--box {
      @include linear-gradient(45deg, $polar-purple 0%, $transparent 80%);
      border: 1px solid darken($polar-purple, 1%);
      color: $light-purple;
      background-repeat: no-repeat;

      h3 {
        color: $neon-purple;
      }

      &:hover {
        background-position: -160px 0;
        .date {
          opacity: .15;
        }
        .Link--faux {
          &:before {
            background: darken($polar-purple-light, 1.3%);
          }
        }
      }
    }
    .Link--faux {
      color: $neon-purple;
      &:before {
        background: $polar-purple-light;
      }
    }
  }

  .Project--green {
    .Link--box {
      @include linear-gradient(45deg, $polar-green 0%, $transparent 80%);
      color: $light-green;
      border: 1px solid #E9F3F0;
      background-repeat: no-repeat;

      h3 {
        color: $neon-green;
      }

      &:hover {
        background-position: -160px 0;
        .date {
          opacity: .3;
        }
        .Link--faux {
          &:before {
            background: darken($polar-green-light, 2%);
          }
        }
      }
    }
    .Link--faux {
      color: $neon-green;
      &:before {
        background: $polar-green-light;
      }
    }
  }
}