.ProjectsWrap, .ProjectsWrap--featured {
  font-family: 'GT Pressura';
  font-size: 16.5px;
  display: flex;

  & > li {
    flex: 1;
    margin: 15px;
    padding: 40px;
  }

  .meta {
    display: flex;
    font-weight: bold;

    .date {
      flex: 1;
    }

    .view {
      text-align: right;
    }
  }
}

.ProjectsWrap {
  color: $navy;

  .Project {
    border: 1px solid $border-grey;
  }

  p {
    opacity: .8;
    min-height: 150px;
  }

  .meta {
    a {
      color: $navy;

      &:before {
        background: darken($polar-purple, 1%);
      }
    }
  }
}

.ProjectsWrap--featured {
  color: $neon-blue;

  & > li {
    background: $polar-purple;
    padding: 40px;
  }

  .Project--blue {
    background: $polar-purple;
  }

  .Project--green {
    background: $polar-green;
    color: $neon-green;

    a {
      color: $neon-green;
    }
  }

  .meta {
    a {
      &:before {
        background: white;
      }
    }

    .view {
      flex: 1;
    }
  }

  p {
    opacity: .9;
    min-height: 120px;
  }
}