.Cube-wrap {
  height: 440px;
  width: 100%;
  border: 1px solid #EBEBEC;
  margin-bottom: 30px;
  clear: left;

  .Cube {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    transform-style: preserve-3d;
    transition: transform 0.5s 0.1s;
    perspective: 9999px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    -webkit-perspective: 9999px;
    color: #333;
    margin: 0 auto;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    z-index: 11;
    animation: panel 3.2s ease infinite forwards;
    -webkit-animation: panel 3.2s ease infinite forwards;
    top: 50%;
    position: relative;
    margin-top: -40px;
    font-family: "brandon-grotesque";

    .cube-face {
      width: inherit;
      height: inherit;
      position: absolute;
      background-color: white;
      font-weight: 400;
      box-shadow: inset 0 0 0 1px #333, 0 0 1px 1px #333;
      -webkit-backface-visibility: hidden;
      animation: color 7s ease infinite forwards;
      -webkit-animation: color 7s ease infinite forwards;
    }

    .cube-face-front {
      transform: translate3d(0, 0, 40px);
      -webkit-transform: translate3d(0, 0, 40px);
      font-size: 57px;
    }

    .cube-face-back {
      transform: rotateY(180deg) translate3d(0, 0, 40px);
      -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);  
    }

    .cube-face-left {
      transform: rotateY(-90deg) translate3d(0, 0, 40px);
      -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
    }

    .cube-face-right {
      transform: rotateY(90deg) translate3d(0, 0, 40px);
      -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
    }

    .cube-face-top {
      transform: rotateX(90deg) translate3d(0, 0, 40px);
      -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);       
    }

    .cube-face-bottom {
      transform: rotateX(-90deg) translate3d(0, 0, 40px);
      -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
    }
  }
}

@keyframes panel {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
   transform: rotateY(90deg) rotateZ(0deg);
   -webkit-transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
   transform: rotateX(45deg) rotateZ(45deg);
   -webkit-transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
   transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
   -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
   transform: rotateX(310deg) rotateZ(230deg);
   -webkit-transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
   transform: rotateX(360deg) rotateZ(360deg);
   -webkit-transform: rotateX(360deg) rotateZ(360deg);
  }
}

@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
  }
}

$neon-purple: #5934f6;
$neon-green: #2AD4AC;
$polar-green-light: #E4FBF3;
$polar-purple-light: #F7F2FF;

@-webkit-keyframes color {
  25% {
    background-color: $polar-green-light;
    color: $neon-green;
    box-shadow: inset 0 0 0 1px $neon-green, 0 0 1px 1px $neon-green;
  }
  50% {
    background-color: $polar-purple-light;
    color: $neon-purple;
    box-shadow: inset 0 0 0 1px $neon-purple, 0 0 1px 1px $neon-purple;
  }
  100% {
    background-color: white;
  }
}


@keyframes color {
  25% {
    background-color: $polar-green-light;
    color: $neon-green;
    box-shadow: inset 0 0 0 1px $neon-green, 0 0 1px 1px $neon-green;
  }
  50% {
    background-color: $polar-purple-light;
    color: $neon-purple;
    box-shadow: inset 0 0 0 1px $neon-purple, 0 0 1px 1px $neon-purple;
  }
  100% {
    background-color: white;
  }
}