<% content_for :back do %>
  <nav class="back">
    <ul>
      <li>
        <% link_to work_path, class: 'red' do %>
          <span class="arrow">↤</span><span class="copy"></span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>