<% content_for :back do %>
  <nav class="back">
    <ul>
      <li>
        <% if(is_labs) %>
          <% link_to labs_path, class: 'red' do %>
            <span class="arrow">↤</span><span class="copy labs"></span>
          <% end %>
        <% else %>
          <% link_to work_path, class: 'red' do %>
            <span class="arrow">↤</span><span class="copy"></span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>