<footer>
  <div class="Bracket--footer">
    <div class="bracket topLeft"></div>
    <div class="bracket bottomRight"></div>
  </div>
  <div class="Cover--footer"></div>
  <nav>
    <ul>
      <li>609-238-4513</li>
      <li><%= link_to "Email Jesse", "mailto:JBIRD1111@gmail.com" %></li>
      <li><%= link_to "@ChasingUX", "http://twitter.com/ChasingUX" %></li>
    </ul>
  </nav>
</footer>