<footer>
  <div class="Bracket--footer">
    <div class="bracket topLeft"></div>
    <div class="bracket bottomRight"></div>
  </div>
  <div class="Cover--footer"></div>
  <nav>
    <ul>
      <li><%= link_to "609-238-4513", "tel:+6092384513", class:"no-link" %></li>
      <li><%= link_to "Email Jesse", "mailto:JBIRD1111@gmail.com" %></li>
      <li><%= link_to "@ChasingUX", "http://twitter.com/ChasingUX", target: '_blank'%></li>
    </ul>
  </nav>
</footer>