<header class="Header-nav">

  <% if content_for?(:back) %>
    <%= yield_content :back %>
  <% end %>

  <% if(is_animated) %>
    <div class="Cover"></div>
  <% end %>
  <div class="Logo">
    <div class="Registration Registration--blue">
      <div class="Circle"></div>
      <div class="Cross Cross--left"></div>
      <div class="Cross Cross--right"></div>
    </div>
    <span class="tl"></span>
    <span class="tm"></span>
    <span class="tr"></span>
    <span class="rm"></span>
    <span class="rb"></span>
    <span class="mb"></span>
    <span class="lb"></span>
    <span class="ml"></span>
  </div>
  <nav>
    <ul>
      <li><%= active_link_to "Work", work_path %></li>
      <li><%= active_link_to "About", about_path %></li>
      <li><%= active_link_to "Labs", labs_path %></li>
    </ul>
  </nav>
</header>