<div class="bg"></div>
<div class="Caption"><p><span></span></p></div>
<div class="Gallery-wrap">
  <header class="Header-gallery">
    <nav class="back">
      <% link_to '#', class: 'red' do %>
        <span class="arrow">↤</span><span class="copy project"></span>
      <% end %>
    </nav>
    <h4></h4>
  </header>
  <ul></ul>
  <div class="Caption--gallery"><p><span></span></p></div>
  <a href="#" class="next">Next Image</a>
</div>