---
title: About Jesse Chase
---

<header class="Header-intro Wrapper">
  <h1>Who is Jesse Chase?</h1>
</header>

<section class="Wrapper flex">

  <div class="headshot"></div>
  <div class="aboutJesse">
    <h2 class="ribbon">Hi, I'm Jesse :<span>}</span></h2>
    <p>I’m a product designer living in New York, NY. I am currently the Creative Director at DigitalOcean, leading the product design and brand design teams. While a happy, well-functioning team is extremely important to me, so is designing and building product.</p>

    <h2 class="ribbon">This is some fun stuff</h2>
    <p>I like coding for the same reason I like product design - they both represent problems that need solving....I prefer to work on complex projects that require extensive product and systems thinking. My end goal is to distill a set of problems into a solution that makes sense, and is easy to use.</p>

    <h2 class="ribbon">This is some fun stuff</h2>
     <p>I love to prototype and build ideas. I love learning new technologies and putting them to use. I love to socialie my product work using as many diagrams as humanly possible. I love solving complex problems through think tanks and design studios. I love spending time with users, and humanizing the people we are designing for. I love spending time perfecting web animations until they feel organic. I love staying on the bleeding edge of Front End technology. I love giving back to our wonderful community. At the end of the day, <strong>I love building product</strong>.</p>

    <!-- <h3>Some interesting things about me:</h3> -->
    <h2 class="ribbon red">Some interesting things about me</h2>
    <ul>
      <li>I really enjoy working on side projects like this one. or this.</li>
      <li>I love dogs. Bigger the better. It’s sad I don’t own one.</li>
      <li>I really like La Columbe coffee. They seriously do it right.</li>
      <li>I hail from Philadelphia, where I used to work for J2 Design</li>
      <li>I’m often found spending money at Best Made. Its nice to live down the street.</li>
      <li>Huge BBQ lover. Especially on a Sunday.</li>
      <li>My favorite emoji is the Party Parrot: <img style="width:21px" src="/assets/images/party-parrot.gif"></li>
    </ul>
  </div>
</section>