---
title: The Portfolio of Jesse Chase
---

<header class="Header-intro">
  <h1>Jesse Chase is a product designer by trade, currently Creative Director at DigitalOcean</h1>
</header>

<div class="Wrapper">
  <ul class="ProjectsWrap--featured">
    <li class="Project-blue">
      <h3>FontReach</h3>
      <p>FontReach crawls the top million websites and surfaces data about font usage across the web.</p>
      <ul class="meta">
        <li class="date">
          <span>Launched Oct. 2015 </span>
        </li>
        <li class="view">
          <a href="#">Reach for Fonts</a>
        </li>
      </ul>
    </li>

    <li class="Project-green">
      <h3>Libscore</h3>
      <p>Libscore reports statistics on JavaScript library usage across the top million sites. Updated Monthly.</p>
      <ul class="meta">
        <li class="date">
          <span>Launched Jan. 2015 </span>
        </li>
        <li class="view">
          <a href="#">View js Trends</a>
        </li>
      </ul>
    </li>
  </ul>
</div>