---
title: Login
---

<% content_for :head do %>

<% end %>

<section class="Wrapper">
  Login


</section>

<% content_for :footer do %>
  <footer>
    <div class="Bracket--footer">
      <div class="bracket topLeft"></div>
      <div class="bracket bottomRight"></div>
    </div>
    <div class="Cover--footer"></div>
    <nav></nav>
  </footer>
<% end %>